@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

.container {
  padding: 40px 30px;
}

.header .title h1 {
  color: #ffffff;
  font-size: 30px;
}

.header .title h1 span {
  color: #514c4c;
  font-size: 20px;
}

.form {
  position: relative;
}

.search {
  width: 100%;
  padding: 15px 0 15px 10px;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  background-color: #514c4c2a;
  color: rgba(227, 215, 215, 0.618);
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.1px solid #ffffff;
}

.content-title {
  color: #ffffff;
  font-size: 20px;
}

.category {
  padding-top: 10px;
  color: rgba(227, 215, 215, 0.618);
  display: flex;
  gap: 7px;
  align-items: center;
  font-size: 17px;
}

.date {
  padding-top: 10px;
}

#date_1 {
  color: rgba(227, 215, 215, 0.618);
  font-size: 12px;
}
#date_2 {
  color: rgba(227, 215, 215, 0.618);
  font-size: 12px;
}
#date_3 {
  color: rgba(227, 215, 215, 0.618);
  font-size: 12px;
}

.add-notes {
  position: fixed;
  right: 6%;
  bottom: 14%;
  border-radius: 50%;
  background-color: #514c4c;
}

.add-notes p {
  padding: 10px 22px;
  color: #ffffff;
  font-size: 30px;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  gap: 170px;
}

.catatan {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catatan span {
  font-size: 25px;
}

@media (min-width: 700px) {
  .add-notes {
    position: fixed;
    right: 6%;
    bottom: 30%;
    border-radius: 50%;
    background-color: #514c4c;
  }
}

@media (min-width: 1300px) {
  .add-notes {
    position: fixed;
    right: 6%;
    bottom: 18%;
    border-radius: 50%;
    background-color: #514c4c;
  }
}
